//META{"name":"Red_n_Black","description":"Just a red and black theme with a hint of anime. Also this theme updates automatically so just reload and you're good.","author":"CreamCheese (C.C.)","version":"1.0v"}*//{}

/*
\/\/\/\/\/\/\/\/\/\/\/\/\/
Made by
   ______      ______     
 .' ___  |   .' ___  |    
/ .'   \_|  / .'   \_|    
| |         | |           
\ `.___.'\ _\ `.___.'\ _  
 `.____ .'(_)`.____ .'(_) 

\/\/\/\/\/\/\/\/\/\/\/\/\/

Hex color for everything: #9f0000
Hex color for hovering: #6f0000
Hex color for texts: #D89191 
*/

@import url("https://gitcdn.xyz/repo/CurimuChizu/CC-Themes-Copy/master/Red-n-Black.theme.css");
