//META{"name":"ReZero_Anime","description":"ReZero anime theme. Updates automatically.","author":"CreamCheese (C.C.)","version":"2.3"}*//
/*
\/\/\/\/\/\/\/\/\/\/\/\/\/
Made by
   ______      ______     
 .' ___  |   .' ___  |    
/ .'   \_|  / .'   \_|    
| |         | |           
\ `.___.'\ _\ `.___.'\ _  
 `.____ .'(_)`.____ .'(_) 

\/\/\/\/\/\/\/\/\/\/\/\/\/
Main hex color: #afafff
Hex color for hovering: #8282ff
Hex color for texts: #e6e6fa 
*/

@import url("https://gitcdn.xyz/repo/CurimuChizu/CC-Themes-Copy/master/ReZero.theme.css");
